
@{
    ViewBag.Title = "contactusthanksen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="site-header" id="home">
    <nav class="navbar navbar-expand-lg main-menu  fixed-top">
        <div class="container-fluid custom-container">

            <a href="#!" class="navbar-brand"><img src="/assets/images/logo/logo.png" alt=""></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#siteNav" aria-controls="siteNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="siteNav">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item"><a href="/en/#home" class="nav-link smooth-scroll">Home</a></li>
                    <li class="nav-item"><a href="/en/#feature" class="nav-link smooth-scroll">FEATURE</a></li>
                    <li class="nav-item"><a href="/en/#abouts" class="nav-link smooth-scroll">about us</a></li>
                    <li class="nav-item"><a href="/en/#screen" class="nav-link smooth-scroll">screen</a></li>
                    <li class="nav-item"> <a href="/en/#faq" class="nav-link smooth-scroll">FAQS</a></li>

                    @*<li class="nav-item"><a href="/en/#blog" class="nav-link smooth-scroll">Purchase</a></li>*@
                    <li class="nav-item"><a href="/en/#contacts" class="nav-link smooth-scroll">CONTACTS</a></li>
                    <li class="nav-item"><a href="../ar/" class="nav-link smooth-scroll">العربية</a></li>
                    <li><a href="https://play.google.com/store/apps/details?id=net.tubemine" target="_blank" class="btn-mr pill th-primary-outline"> GET THE APP</a></li>
                </ul>
            </div>

        </div>
    </nav>
</header>

<!--
   banner area start
-->
<section class="bannerarea home-page-1">
    <div class="container">
        <div class="row bn-height align-items-center">
            <div class="col-lg-9">
                <div class="banner-content">
                    <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.6s">TubeMine - get Free subscribers, views and likes for Video & Channel</h2>
                    <div class="animation" data-animation="fadeInDown" data-animation-delay="0.6s">
                        <p>TubeMine is the best application to helps you boost your subscribers and make your channel more popular; boost your video views, likes and make it viral video</p>
                        <!--<a href="#" class="btn-mr  btn-iconprimary">
                            <span class="icon-element">
                                <i class="icofont icofont-brand-apple"></i>
                                App Store
                            </span>
                        </a>-->
                        <a href="https://play.google.com/store/apps/details?id=net.tubemine" target="_blank" class="btn-mr btn-iconsecondary">
                            <span class="icon-element">
                                <img src="/assets/images/all-img/gicon.png" alt="">
                                Goolge Play
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mbl-1-img animation" data-animation="zoomIn" data-animation-delay="0.9s"><img src="/assets/images/all-img/mbl1.png" alt=""></div>
</section>

<section class="feature-area" id="feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 sec-titile-wrapper text-center">
                <h2 class="section-title">Thank you</h2>
                <p>We have received your inquiry and one of our experts will contact you within 48 hours.</p>
            </div>
          
        </div>
    </div>
</section>


